<h1>Blog</h1>

<div class="call-to-action">
  <%= link_to "Post a new Article", new_article_path %>
</div>

<h3>Articles</h3>

<% if articles.any? %>
  <div class="articles list">
    <%= render articles %>
  </div>
<% else %>

  <div class="notice">
    <h4>No articles!</h4>
  </div>

<% end %>
